{% extends "base.html" %}

{% block title%}{% endblock %}

{% block content %}
    <h2>Список профессий</h2>
    {% set prof_list = "инженер-исследователь, пилот, строитель, экзобиолог, врач, инженер по терраформированию, климатолог, специалист по радиационной защите, астрогеолог, гляциолог, инженер жизнеобеспечения, метеоролог, оператор марсохода, киберинженер, штурман, пилот дронов".split(', ') %}
    {% if type_of_list == "ol"%}
        <ol>
            {% for prof in prof_list %}
            <li>{{ prof }}
            </li>
            {% endfor %}
        </ol>
    {% elif type_of_list == "ul" %}
        <ul>
            {% for prof in prof_list %}
            <li> {{ prof }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>Неверный параметр</div>
    {% endif %}
{% endblock %}